.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.cardsContainer {
    width: 100%;
    background-color: rgb(249, 224, 243);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
